In [1]:
from google.colab import drive
google_drive_prefix = '/content/drive'
drive.mount(google_drive_prefix)

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
df = pd.read_csv('/content/drive/My Drive/Bisonai/Random data/rough.csv')

In [115]:
# df

In [15]:
# creates a random values for each dates
import random
value = []
for i in range(len(df)):
  value.append(random.randint(0, 250))
df['value'] = value
df

                  datetime  value
0      2019-05-09 00:01:35     37
1      2019-05-09 00:03:30     35
2      2019-05-09 00:03:38     55
3      2019-05-09 00:03:40    233
4      2019-05-09 00:03:51     44
...                    ...    ...
35556  2019-05-09 23:58:57    242
35557  2019-05-09 23:59:29    190
35558  2019-05-09 23:59:34     35
35559  2019-05-09 23:59:40    136
35560  2019-05-09 23:59:59    230

[35561 rows x 2 columns]

In [16]:
# This is used to down load the df dataframe into respective 20.csv, 21.csv, ....., 30.csv
# df.to_csv('30.csv', index=False)

The date of the downloaded csv files are modified manually on our desired date range and then uploaded on the google drive.

In [18]:
# fetches all the dataframes and stores them in an array
test_df = []
for i in range(11):
  a = 20 + i
  print(a)
  test_df.append(pd.read_csv('/content/drive/My Drive/Bisonai/Random data/' + str(a) + '.csv'))
test_df

20
21
22
23
24
25
26
27
28
29
30

[                      datetime  value
 0      20/12/2021  12:01:35 AM     51
 1      20/12/2021  12:03:30 AM     54
 2      20/12/2021  12:03:38 AM     92
 3      20/12/2021  12:03:40 AM     73
 4      20/12/2021  12:03:51 AM     92
 ...                        ...    ...
 35556  20/12/2021  11:58:57 PM     98
 35557  20/12/2021  11:59:29 PM     62
 35558  20/12/2021  11:59:34 PM     90
 35559  20/12/2021  11:59:40 PM     92
 35560  20/12/2021  11:59:59 PM     51

 [35561 rows x 2 columns],                       datetime  value
 0      21/12/2021  12:01:35 AM     89
 1      21/12/2021  12:03:30 AM     58
 2      21/12/2021  12:03:38 AM     91
 3      21/12/2021  12:03:40 AM     65
 4      21/12/2021  12:03:51 AM     77
 ...                        ...    ...
 35556  21/12/2021  11:58:57 PM     68
 35557  21/12/2021  11:59:29 PM     68
 35558  21/12/2021  11:59:34 PM     58
 35559  21/12/2021  11:59:40 PM     65
 35560  21/12/2021  11:59:59 PM     66

 [35561 rows x 2 columns],                       datetime  value
 0      22/12/2021  12:01:35 AM     14
 1      22/12/2021  12:03:30 AM     99
 2      22/12/2021  12:03:38 AM      7
 3      22/12/2021  12:03:40 AM     14
 4      22/12/2021  12:03:51 AM     78
 ...                        ...    ...
 35556  22/12/2021  11:58:57 PM     32
 35557  22/12/2021  11:59:29 PM      2
 35558  22/12/2021  11:59:34 PM     99
 35559  22/12/2021  11:59:40 PM     38
 35560  22/12/2021  11:59:59 PM     89

 [35561 rows x 2 columns],                       datetime  value
 0      23/12/2021  12:01:35 AM     21
 1      23/12/2021  12:03:30 AM     32
 2      23/12/2021  12:03:38 AM    141
 3      23/12/2021  12:03:40 AM     91
 4      23/12/2021  12:03:51 AM     25
 ...                        ...    ...
 35556  23/12/2021  11:58:57 PM      2
 35557  23/12/2021  11:59:29 PM     79
 35558  23/12/2021  11:59:34 PM     54
 35559  23/12/2021  11:59:40 PM    142
 35560  23/12/2021  11:59:59 PM    168

 [35561 rows x 2 columns],                       datetime  value
 0      24/12/2021  12:01:35 AM     12
 1      24/12/2021  12:03:30 AM     44
 2      24/12/2021  12:03:38 AM    100
 3      24/12/2021  12:03:40 AM    128
 4      24/12/2021  12:03:51 AM    122
 ...                        ...    ...
 35556  24/12/2021  11:58:57 PM     45
 35557  24/12/2021  11:59:29 PM    133
 35558  24/12/2021  11:59:34 PM    103
 35559  24/12/2021  11:59:40 PM     33
 35560  24/12/2021  11:59:59 PM    146

 [35561 rows x 2 columns],                       datetime  value
 0      25/12/2021  12:01:35 AM     80
 1      25/12/2021  12:03:30 AM     71
 2      25/12/2021  12:03:38 AM     85
 3      25/12/2021  12:03:40 AM     78
 4      25/12/2021  12:03:51 AM      7
 ...                        ...    ...
 35556  25/12/2021  11:58:57 PM      3
 35557  25/12/2021  11:59:29 PM      8
 35558  25/12/2021  11:59:34 PM    131
 35559  25/12/2021  11:59:40 PM    159
 35560  25/12/2021  11:59:59 PM     90

 [35561 rows x 2 columns],                       datetime  value
 0      26/12/2021  12:01:35 AM    151
 1      26/12/2021  12:03:30 AM     17
 2      26/12/2021  12:03:38 AM     17
 3      26/12/2021  12:03:40 AM     77
 4      26/12/2021  12:03:51 AM     79
 ...                        ...    ...
 35556  26/12/2021  11:58:57 PM     50
 35557  26/12/2021  11:59:29 PM     74
 35558  26/12/2021  11:59:34 PM    171
 35559  26/12/2021  11:59:40 PM     40
 35560  26/12/2021  11:59:59 PM    161

 [35561 rows x 2 columns],                       datetime  value
 0      27/12/2021  12:01:35 AM    114
 1      27/12/2021  12:03:30 AM     90
 2      27/12/2021  12:03:38 AM     55
 3      27/12/2021  12:03:40 AM    147
 4      27/12/2021  12:03:51 AM    149
 ...                        ...    ...
 35556  27/12/2021  11:58:57 PM    107
 35557  27/12/2021  11:59:29 PM     34
 35558  27/12/2021  11:59:34 PM    131
 35559  27/12/2021  11:59:40 PM     23
 35560  27/12/2021  11:59:59 PM    130

 [35561 rows x 2 columns],                       datetime  value
 0      28/12/2021  12:01:35 AM     39
 1      28/12/2021  12:03:30 AM     18
 2      28/12/2021  12:03:38 AM     78
 3      28/12/2021  12:03:40 AM     57
 4      28/12/2021  12:03:51 AM     34
 ...                        ...    ...
 35556  28/12/2021  11:58:57 PM     21
 35557  28/12/2021  11:59:29 PM     38
 35558  28/12/2021  11:59:34 PM     51
 35559  28/12/2021  11:59:40 PM     66
 35560  28/12/2021  11:59:59 PM     41

 [35561 rows x 2 columns],                       datetime  value
 0      29/12/2021  12:01:35 AM     17
 1      29/12/2021  12:03:30 AM    109
 2      29/12/2021  12:03:38 AM     10
 3      29/12/2021  12:03:40 AM     45
 4      29/12/2021  12:03:51 AM     54
 ...                        ...    ...
 35556  29/12/2021  11:58:57 PM     67
 35557  29/12/2021  11:59:29 PM    103
 35558  29/12/2021  11:59:34 PM    128
 35559  29/12/2021  11:59:40 PM     53
 35560  29/12/2021  11:59:59 PM     85

 [35561 rows x 2 columns],                       datetime  value
 0      30/12/2021  12:01:35 AM     37
 1      30/12/2021  12:03:30 AM     35
 2      30/12/2021  12:03:38 AM     55
 3      30/12/2021  12:03:40 AM    233
 4      30/12/2021  12:03:51 AM     44
 ...                        ...    ...
 35556  30/12/2021  11:58:57 PM    242
 35557  30/12/2021  11:59:29 PM    190
 35558  30/12/2021  11:59:34 PM     35
 35559  30/12/2021  11:59:40 PM    136
 35560  30/12/2021  11:59:59 PM    230

 [35561 rows x 2 columns]]

In [104]:
# np.round(2342424.23424, 2)

In [105]:
# len(test_df)

In [106]:
# test_df[0].datetime[0].split()[0]

In [107]:
# import datetime
# datetime.datetime.strptime("20/12/2021", '%d/%m/%Y').strftime('%Y-%m-%d')

In [108]:
# test_df[0].datetime[0].strftime('%d%b%Y')

In [109]:
# Respective line data and bar-plot daily data are made
import datetime
line = pd.DataFrame(columns = ['Date', 'Amount'])
bar_chart_D = pd.DataFrame(columns = ['Date', 'Amount'])
date = []
amount_line = []
amount_graph = []
# df = pd.DataFrame(data, columns = ['Name', 'Age'])
for i in range(len(test_df)):
  # df['date'] = pd.to_datetime(df['date'])

  date.append(pd.to_datetime(test_df[i].datetime[0].split()[0]))
  amount_line.append(test_df[i]['value'].sum())
  amount_graph.append(test_df[i]['value'].mean())

line['Date'] = date
line['Amount'] = amount_line
bar_chart_D['Date'] = date
bar_chart_D['Amount'] = amount_graph
# line

In [110]:
# bar_chart_D

In [96]:
# bar_chart.set_index('Date', drop=True, inplace=True) 
# bar_chart

In [97]:
# bar_char_Dt.Date[0] - pd.DateOffset(days=1)

In [98]:
# bar_chart_W.index

In [111]:
# resample weekly to obtain the bar_chart weekly dataset
bar_chart_W = bar_chart_D.resample('W', on='Date').mean()
chart = []
for i in range(len(bar_chart_W)):
  chart.append(bar_chart_W.index[i] - pd.DateOffset(days=7))
bar_chart_W['startDate'] = chart
bar_chart_W
bar_chart_W['endDate'] = bar_chart_W.index

In [112]:
# resample monthly to obtain the bar_chart monthly dataset
bar_chart_M = bar_chart_D.resample('M', on='Date').mean()
bar_chart_M['Date'] = bar_chart_M.index

In [113]:
# print(bar_chart_W, bar_chart_M)

In [114]:
# All four files are then downloaded
line.to_csv('line.csv', index = False)
bar_chart_D.to_csv('bar_chart_D.csv', index=False)
bar_chart_W.to_csv('bar_chart_W.csv', index=False)
bar_chart_M.to_csv('bar_chart_M.csv', index=False)